{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/month.css' %}">
{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="slideshow-container" id="donate-carousel-container">
            {% for item in page.gallery_images.all %}
                <div class="mySlides">
                    {% image item.image fill-320x240 %}
                    <div class="text">{{ item.caption }}</div>
                </div>
            {% endfor %}
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a> 
        </div>
        <br>        
        <div style="text-align:center">
            {% for item in page.gallery_images.all %}
                <span class="dot" onclick='currentSlide( {{ forloop.counter }} )'></span> 
            {% endfor %}
        </div>
    </div>
    
    <div class="col-sm-12 col-md-7" >
        <img src="{% static 'images/blue-gear.svg' %}" width="" height="750" id="blue-gear">
        <div id="donate-text-container">
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            <p>Et quas molestias excepturi sint occaecati cupiditate sunt in culpa qui officia deserunt mollitia animi, id est fuga. Et harum quidem rerum facilis est et expedita Nam libero tempore, cum soluta nobis est eligendi.</p>
            <div class="btn-wrapper">
                <button class="action-btn">Invest</button>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}