{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">  
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="container" id="landing_page">
    <div class="row">
        <div class="col-sm-12 col-md-5 action-section" id="social_project_action">
            <img src="{% static 'images/give_people.svg' %}" width="auto" height="200" class="center">
            <h1 class="center">Giving with a </br> purpose</h1>
            <h2 class="center">Help us do good work</h2>
            <a href="/invest"><button class="action-btn center">Give</button></a>
            <a href="/social-project-month/"><button class="project-btn center">Social project of the month</button></a>
            <!-- <img src="{% static 'images/yellow_side.svg' %}" width="auto" height="1100" id="yellow-side"> -->  
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-sm-12 col-md-5 action-section" id="entrepreneur_project_action">
            <h1 class="center">Invest in an </br> Entrepreneur</h1>
            <h2 class="center">Assist us to fund start ups</h2>
            <a href="/give/"><button class="action-btn center">Invest</button></a>
            <img src="{% static 'images/spaceship_people.svg' %}" width="auto" height="200" class="center">
            <a href="/entrepreneurial-project-month/"><button class="project-btn center">Entrepreneur of the month</button></a>
            <!-- <img src="{% static 'images/blue_side.svg' %}" width="auto" height="500" id="blue-side"> -->
        </div>

        <div class="col-sm-12 col-md-6" id="origin-statement">
            <p>{{ page.origin_statement|richtext }}</p>
            <h1>Why we started?</h1>
        </div>

        <div class="col-sm-12 col-md-6" id="mission-statement">
            <h1>Mission</h1>
            <p>{{ page.mission_statement|richtext }}</p>
        </div>
    </div>
</div>
    
{% endblock %}