{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_page.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<div class="blog-content">
    <div class="article-content">
        <h1 id="page-title">{{ page.title }}</h1>

        <p class="meta" id="page-date">{{ page.date }}</p>
    
        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    
        {% with categories=page.categories.all %}
            {% if categories %}
                <h3>Posted in:</h3>
                <ul>
                    {% for category in categories %}
                        <li style="display: inline">
                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                            {{ category.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    
        <p>{{ page.body|richtext }}</p>
    </div>

    <div class="tag-content row">
        {% if page.tags.all.count %}
        <div class="tags col-xs-12 col-sm-8">
            <h3 id="tag-title">TAGS</h3>
            {% for tag in page.tags.all %}
                <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }} /</a>
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-sm-4" id="readmore">
            <p><a href="{{ page.get_parent.url }}">READ MORE STORIES ></a></p>
        </div>
    </div>
    
</div>
{% endblock %}