{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog_index.css' %}">
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
<!-- <div class="blog-items row">
    {% if post.tags.all.count %}
    <div class="col-sm-12 col-md-3">
            <div class="tag-card-wrapper">
                <div class="card" style="width: 200px;" >
                    <div class="card-body tag-card">
                        <div class="tags">
                            <p>Categories</p>
                            {% for tag in post.tags.all|slice:":6" %}
                                <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% endif %}
    <div class="col-sm-12 col-md-8">
    {% for post in blogpages %}
        {% with post=post.specific %}
            <div class="card col-xs-12 col-sm-3 col-md-4" style="width: 250px;">

                {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-200x200 class="card-img-top" %}{% endif %}
                {% endwith %}
                    <h4 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                    <p class="card-text">{{post.intro}}</p>
                    <p>{{post.date}}</p>
            </div>          
        {% endwith %}
    {% endfor %}
    </div>
</div> -->

<!-- <div class="row">
    {% for post in blogpages %}
        {% with post=post.specific %}
        <div class="card" style="width: 18rem;">
            {% with post.main_image as main_image %}
                {% if main_image %}
                    {% image main_image fill-200x200 class="card-img-top" %}
                {% endif %}
            {% endwith %}
            <div class="card-body">
              <h4 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
              <p class="card-text">{{post.intro}} </br> {{post.date}}</p>
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div> -->

<!-- <div class="container">
        <div class="row">
           {% for post in blogpages %}
           {% with post=post.specific %}
             <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                     <div class="card-content" style="border: solid black 1px;">
                         <div class="card-img">
                             <a href="{% pageurl post %}" >
                                {% with post.main_image as main_image %}
                                    {% if main_image %}
                                        {% image main_image fill-200x200 class="card-img-top" %}
                                    {% endif %}
                                {% endwith %}
                            </a>
                         </div>
                         <div class="divider"></div>
                         <div class="card-desc">
                             <h3><a href="{% pageurl post %}" >{{ post.title }}</a></h3>
                             <p>{{ post.date|date:"j N Y"}}</p>
                             <p>{{ post.intro|richtext }}</p>
                         </div>
                     </div>
                     <br>
                 </div>
          {% endwith %}
             
           {% endfor %}
       </div>
</div> -->

<div class="container">
        <div class="row">
           {% for post in blogpages %}{% with post=post.specific %}
           {% if forloop.first or forloop.counter == 2 %}
           <div class="col-xs-12 col-sm-6" style="margin-top: 20px;">
                <div class="card-content clearfix shadow">
                    <div class="card-img">
                        <a href="{% pageurl post %}" >
                        {% with post.main_image as main_image %}
                            {% if main_image %}
                                {% image main_image fill-220x220 class="img-left" %}
                            {% endif %}
                        {% endwith %}
                    </a>
                    </div>
                    <div class="divider"></div>
                    <div class="card-desc">
                        <h3><a href="{% pageurl post %}" style="margin-top: 5px;">{{ post.title }}</a></h3>
                        <p>{{ post.date|date:"j N Y"}}</p>
                        <p>{{ post.intro|richtext }}</p>
                    </div>
                </div>
                <br>
            </div>
            {% else %}
                <!-- after two posts -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card-content shadow">
                        <div class="card-img">
                            <a href="{% pageurl post %}" >
                            {% with post.main_image as main_image %}
                                {% if main_image %}
                                    {% image main_image fill-200x200 class="card-img-top" %}
                                {% endif %}
                            {% endwith %}
                        </a>
                        </div>
                        <div class="divider"></div>
                        <div class="card-desc">
                            <h3><a href="{% pageurl post %}" >{{ post.title }}</a></h3>
                            <p>{{ post.date|date:"j N Y"}}</p>
                            <p>{{ post.intro|richtext }}</p>
                            </br>
                        </div>
                    </div>
                    <br>
                </div>
            {% endif %}
          {% endwith %}{% endfor %}
       </div>
</div>

{% endblock %}