body{
    background-image: url("/static/images/background_home.svg");
    background-attachment: absolute;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% auto; */
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    grid-column-gap: 0;
}
.center {
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}
h2{
    font-size: 25px;
}

.project-btn{
    background: #B12A2A;
    padding: 3px;
    border: none;
    color: white;
    width: 250px;
    margin-top: 25px;
}

.project-btn a{
    text-decoration: none;
    color: white;
}

#yellow-side{
    position: absolute;
    z-index: -1;
    left: -500px;
    top: -50px;
}

#blue-side{
    position: absolute;
    z-index: -1;
    right: -100px;
    top: 0px;
}

#landing_page{
    text-align: center;
    color: white;
}

.action-section{
    display: flex; 
    flex-direction: column;
}

#origin-statement, #mission-statement{
    color: black;
}
