body{
    font-family: 'Nunito Sans', sans-serif;
}
#donate-nav{
    border: 3px solid #c81736;
    border-radius: 20px;
}

.btn-wrapper{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-btn{
    background: white;
    border-radius: 12px;
    padding: 4px;
    width: 120px;
    color: black;
    text-decoration: none;
}

.action-btn:focus {
    outline:0;
}

.action-btn:hover{
    background-color: #bbb;
    color: black;
    text-decoration: none;
}

.action-btn:visited{
    color: black;
    text-decoration: none;
}